# waimai_10k 说明
0. **下载地址：** [Github](https://github.com/SophonPlus/ChineseNlpCorpus/raw/master/datasets/waimai_10k/waimai_10k.csv)
1. **数据概览：** 某外卖平台收集的用户评价，正向 4000 条，负向 约 8000 条
2. **推荐实验：** 情感/观点/评论 倾向性分析
2. **数据来源：** 某外卖平台
3. **原数据集：** [中文短文本情感分析语料 外卖评价](https://download.csdn.net/download/cstkl/10236683)，网上搜集，具体作者、来源不详
4. **加工处理：**
    1. 将原来 2 个文件整合到 1 个文件中
    2. 去重

In [246]:
import pandas as pd
import os

In [247]:
path = './asap/data'

In [248]:
split='test'

# 1. waimai_10k.csv

## 加载数据

In [249]:
pd_all = pd.read_csv(os.path.join(path,'%s.csv'%(split)))
print()
print('评论数目（总体）：%d' % pd_all.shape[0])
print(pd_all.columns)
for i in range(1,6):
    
    print('%d星评论数目：%d' % (i,pd_all[pd_all.star==i].shape[0]))
#print('评论数目（负向）：%d' % pd_all[pd_all.label==0].shape[0])

评论数目（总体）：4940
Index(['id', 'review', 'star', 'Location#Transportation', 'Location#Downtown',
       'Location#Easy_to_find', 'Service#Queue', 'Service#Hospitality',
       'Service#Parking', 'Service#Timely', 'Price#Level',
       'Price#Cost_effective', 'Price#Discount', 'Ambience#Decoration',
       'Ambience#Noise', 'Ambience#Space', 'Ambience#Sanitary', 'Food#Portion',
       'Food#Taste', 'Food#Appearance', 'Food#Recommend'],
      dtype='object')
1星评论数目：165
2星评论数目：173
3星评论数目：717
4星评论数目：1867
5星评论数目：2018

In [250]:
data = pd_all.loc[:,'review':'star']

In [251]:
print(data)

                                                 review  star
0     和老公的朋友们聚餐，选择了这家烧肉屋，据说人气很旺，于是定座的，我们坐在楼上，阁楼感觉有点空...   4.0
1     昨天晚上想找个安静的环境和同事谈工作，去了绿茵阁。我是第一次到该店，一进去感觉很温馨，环境优...   4.0
2     以前听朋友说超级推荐 然后她又在野餐的时候买了这里的瘦身沙拉 我就更加期待 因为平时不在这一...   5.0
3     看到大众点评网的推荐来试试看，在意大利餐厅吃泰国菜虽然说是创意泰菜，也只是摆盘更多变、时尚，...   4.0
4     在清迈我唯一推荐的一家餐厅，非常非常正宗的泰北菜。叫做河岸餐厅顾名思义就在河边，我建议傍晚的...   5.0
...                                                 ...   ...
4935  家里有亲戚来北京玩，顺便来看我，也好长时间没有见了，我就带他们去吃了个饭，北京的餐饮是在太多...   5.0
4936  哇!居然抽到了叶姐家的海鲜加工券，约了几个本地的经常吃原味海鲜的朋友，在一市场一顿哗啦啦的买...   5.0
4937  和在其他城市吃过的台湾餐厅着实不同，大概是跟朝鲜人合伙开的~没有看到多少台式菜品，韩式的却着...   4.0
4938  开了很久的店了，地铁站附近，一出来右转上个大斜坡石梯就到了。门口有停车位，但超时要收费。店家...   4.0
4939  真是太给力了，上次不到20元的那个就抢到了，这次没想到又出现了，还是这么便宜，而且名额比上次...   5.0

[4940 rows x 2 columns]

In [252]:
data

                                                 review  star
0     和老公的朋友们聚餐，选择了这家烧肉屋，据说人气很旺，于是定座的，我们坐在楼上，阁楼感觉有点空...   4.0
1     昨天晚上想找个安静的环境和同事谈工作，去了绿茵阁。我是第一次到该店，一进去感觉很温馨，环境优...   4.0
2     以前听朋友说超级推荐 然后她又在野餐的时候买了这里的瘦身沙拉 我就更加期待 因为平时不在这一...   5.0
3     看到大众点评网的推荐来试试看，在意大利餐厅吃泰国菜虽然说是创意泰菜，也只是摆盘更多变、时尚，...   4.0
4     在清迈我唯一推荐的一家餐厅，非常非常正宗的泰北菜。叫做河岸餐厅顾名思义就在河边，我建议傍晚的...   5.0
...                                                 ...   ...
4935  家里有亲戚来北京玩，顺便来看我，也好长时间没有见了，我就带他们去吃了个饭，北京的餐饮是在太多...   5.0
4936  哇!居然抽到了叶姐家的海鲜加工券，约了几个本地的经常吃原味海鲜的朋友，在一市场一顿哗啦啦的买...   5.0
4937  和在其他城市吃过的台湾餐厅着实不同，大概是跟朝鲜人合伙开的~没有看到多少台式菜品，韩式的却着...   4.0
4938  开了很久的店了，地铁站附近，一出来右转上个大斜坡石梯就到了。门口有停车位，但超时要收费。店家...   4.0
4939  真是太给力了，上次不到20元的那个就抢到了，这次没想到又出现了，还是这么便宜，而且名额比上次...   5.0

[4940 rows x 2 columns]

In [253]:
def DBC2SBC(ustring_list):
    # '全角转半角'
    normal_str_list=[]
    for i in range(len(ustring_list)):
        rstring = ""
        for uchar in ustring_list[i]:
            inside_code = ord(uchar)
            if inside_code == 0x3000:
                inside_code = 0x0020
            else:
                inside_code -= 0xfee0
                if not (0x0021 <= inside_code and inside_code <= 0x7e):
                    rstring += uchar
                    continue
                rstring += chr(inside_code)
        normal_str_list.append(rstring)
    return normal_str_list

In [254]:
data['review']=DBC2SBC(data['review'])
#data['review'] = data['review'].str.replace(r'.','')
#data['review'] = data['review'].str.replace(r'～','')
#data['review'] = data['review'].str.replace(r'~','')
#data['review'] = data['review'].str.replace(r':','')
#data['review'] = data['review'].str.replace(r'（','')
#data['review'] = data['review'].str.replace(r'）','')
data['review'] = data['review'].str.replace(r'=','')
data['review'] = data['review'].str.replace(r'【','[')
data['review'] = data['review'].str.replace(r'】',']')

data['review'] = data['review'].str.replace(r'\\\\n','',regex=True)
data['star'] = data['star'].astype('int')-1
data['star'] = data['star'].astype('str')

In [255]:
data['star']

0       3
1       3
2       4
3       3
4       4
       ..
4935    4
4936    4
4937    3
4938    3
4939    4
Name: star, Length: 4940, dtype: object

In [256]:
data.to_csv(os.path.join(path,"%s_meituan.tsv"%split), index=False, sep='\t', encoding='utf-8')

In [257]:
pd_tmp = pd.read_csv("/data1/hxy/wyj/bert/data/weibo_3/test_weibo_3.tsv", sep='\t', encoding='utf-8')

In [258]:
pd_tmp

       label                                             review
0          0                                熊猫骨架长这样啊。。（附图为熊猫骨架）
1          0                          太无聊的时候可以试试....一只小手指的自杀花样。
2          0  这批勋章很好看，呵呵，一定第一时间抢到手。加油冒泡呗这套勋章不错啊，什么时候我能集满全套？冒...
3          0                                     周董你老有才了，我老喜欢你啦
4          0                   兩 個 大細 路...月亮眼出招!真係 笑到見 牙唔見 眼...
...      ...                                                ...
14995      2  假药害人又害犬啊！！！国人已无可奈何国人已对假药有了抵抗力了,动物还要努力适应国情呀.老百姓...
14996      2        。宽恕别人就是宽恕自己；宽恕自己就是因为看到真正的自己是谁,而宽恕的只是自己的仆人们。
14997      2  学习并收藏: 总结得太棒啦。虽弓！大师－名师－导师；笑果－效果－成果；外训－内训－自训；课程...
14998      2  回复只能选A 了！A 、人品不好，B 、与领导关系不好，C 、与家里关系不好（预期你只敢选A...
14999      2                                这大哥一首歌吃老本15年了啊faint

[15000 rows x 2 columns]